/* rest */
*{margin: 0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: normal;}
a{text-decoration: none; color: inherit;}
ul,ol{list-style: none;}
address,em,i{font-style: normal;}
strong,b{font-weight: normal;}
select{border-style: none;}

/* 2.common */
/* .sub4{display: none;} */
html{
    /* border: 10px solid red; */
    box-sizing: border-box;
    background-color: #000;
    font-size: 12px;
    font-family:'Roboto Condensed', sans-serif;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 3.layout */

/* Menu */
.menuContainer{
    /* border: 1px solid lime; */
    width: 550px;
    height: 970px;
    background: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    font-size: 35px;
    font-weight: normal;
    position: absolute;
    z-index: 1001;
    padding-left: 60px;
    display: none;
}
.menuContainer>.menuLogo{
    display: flex;
}
.menuContainer>.menuLogo> .btnMenu{
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.menuContainer>.menuLogo{margin-top: 30px;}

.menuContainer>.menuLogo>.Mlogo>img{
    width: 288px;
    height: 30px;
}
.menuContainer>.Menu1{
    /* border: 1px solid green; */
    margin: 20px 0 200px 20px;
    margin-bottom: 150px;
}

.menuContainer>.Menu2{
    /* border: 1px solid red; */
    margin: 20px 0 0 20px;
}
.menuContainer>.bottomImg>img{
    /* z-index: 1001; */
    width: 130px;
    height: 130px;
    position: absolute;
    right: 60px;
    bottom: 60px;
    box-shadow: 10px 10px 3px #666;
}



/* header */

header{
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 30px;
    position: fixed;
    z-index: 1000;
}
.innerHead{
    border: 1px solid salmon;
    width: 1760px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.innerHead>.mainLogo{
    /* border: 1px solid gold; */
    display: flex;
    
    align-items: center;
    /* width: 350px; */
    height: 100%;
}
.mainLogo>.bar{
    width:30px; 
    height: 15px;
    margin-right: 20px;
}
.mainLogo>.logo{
    width: 288px;
}
.mainLogo>.logo img{width: 100%; object-fit: contain;}

.innerHead>.topicon{
    /* border: 1px solid aqua; */
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.innerHead>.topicon img{
    /* border: 1px solid gold; */
    flex: 1;
    width: 30px;
    height: 30px;
    padding: 0 10px;
}



/* subpage Title */
.toptitle{
    /* border: 1px solid red; */
    padding: 10px 350px 10px 170px;
    color: #fff;  
}
.toptitle>h1{
    font-size: 5rem; 
    font-weight: bold;
    text-align: center;
}

.toptitle::after{
    content: '';
    width: 1760px;
    height: 1px;
    background: #fff ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



/* main page */
/* main */
main{position: relative;}
.mainBanner{
    width: 100%;
    height: 970px;    
}
.train{
    width: 100%;
    height: 100%;
    position: relative;
}

.train>li{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    opacity: 0;
    pointer-events: none;;
    /* transition: all 1s ease 0s; */
}
.train>li.show{
    opacity:1;
    position: relative;
    pointer-events: auto;
}
.train>li.show>.backimg{
    width: 100%;
    height: 456px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.train>li.show>.backimg>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.train>li.show>.mainimg{
    width: 606px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}
.mainBanner>.train>li.show>.mainimg>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1) brightness(0.9);
    transition: all 0.5s ease 0s;
}
.mainBanner>.train>li.show>.mainimg>img:hover{
    filter: grayscale(0) brightness(1);
}

.train>li.video{
    width: 100%;
    height: 970px;
}
.train>li.video>video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.train>li>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pagination{
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%,-10%);
}
ul.pagination>li{
    width: 20px;
    height: 20px;
    background:#fff;
    border-radius: 50%;
    opacity: 70%;
}
ul.pagination>li:first-of-type{opacity: 1;}
.typo{
    width: 750px;
    position: absolute;
    right: 200px;
    bottom: 200px;
}
.typo>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.typo>.triangle{
    width: 43px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 0;
}
.triangle img{width: 100%;height: 100%;object-fit: cover;}

main>.circle{
    /* border: 1px solid gold; */
    position: absolute;
    right: 0;
    transform: translateX(120px);
    bottom: 0;
}
.circle>img{
    width: 788px;
    height: 788px;
}



/* sub1 header */


/* sub1 main */
.subpage1{position: relative;}
.subpage1>.mainContainer{
    /* border: 1px solid gold; */
    width: 1760px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.subpage1>.mainContainer:after{
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../img/SVG/toup.svg) no-repeat 50% 50%;
    position: absolute;
    right: 0;
    bottom: -20px;
}
.subTop{
    /* border: 10px solid blue; */
    width: 1760px;
    height: 780px;
    margin-top: 50px;
    /* margin-bottom: 50px; */
    padding-top: 120px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}
.mainLeft{
    /* border: 1px solid red; */
    width: 50%;
    height: 780px;
    position: relative;
}
.circleLeft{
    width: 400px;
    height: 788px;
}
.typoLeft{
    width: 590px;
    height: 290px;   
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0,-50%);
}

.mainRight{
    /* border: 1px solid red; */
    padding-left:35px;
}
.mainRight>video{
    /* border: 1px solid lime; */
    width: 990px;
    height: 630px;
}

/* clothes */
.clothes{
    /* border: 1px solid red;  */
    margin-top: 50px;
}
.clothes>.subTitle{
    /* border: 1px solid red; */
    width: 450px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.clothes>.subTitle>h1{
    /* border: 1px solid lime; */
    color: #fff;
    font-size: 5rem;
    text-align: center;
}
.clothes>.topclo{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.clothes>.topclo>li:after{
    content: '';
    /* border: 1px solid red; */
    width: 25px;
    height: 30px;
    background: url(../img/SVG/dir_right.svg) no-repeat 50% 50%;
    position: absolute;
    right: 41%;
    bottom: 40%;
    transform: translate(-41%,-40%);
}
.clothes>.topclo>.left{
    /* border: 1px solid blue */
    height: 450px;
    display: flex;
    
}
.clothes>.topclo>.left>ul{
    /* border: 1px solid lime; */
    display: flex;
    width: calc(250px*3);
    height: 450px;
    overflow: hidden;
    
}

.clothes>.topclo>.right>ul{
    /* border: 1px solid lime; */
    display: flex;
    width: calc(250px*2);
    height: 450px;
    overflow: hidden;
}
.clothes>.topclo img{
    width: 250px;
    height: 450px;
}

.clothes>.bottomclo{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.clothes>.bottomclo>li:after{
    content: '';
    /* border: 1px solid red; */
    width: 25px;
    height: 30px;
    background: url(../img/SVG/dir_left.svg) no-repeat 50% 50%;
    position: absolute;
    left: 43%;
    bottom: 40%;
    transform: translate(-43%,-40%);
}
.clothes>.bottomclo>.left>ul{
    display: flex;
    width: calc(250px*2);
    height: 450px;
    overflow: hidden;
}

.clothes>.bottomclo>.right>ul{
    display: flex;
    width: calc(250px*3);
    height: 450px;
    overflow: hidden;
}

.clothes>.bottomclo img{
    width: 250px;
    height: 450px;
}

/* photos */
.photos{
    /* border: 1px solid violet; */
    margin-top: 50px;
    margin-bottom: 100px;
}
.photos>.photoTitle{
    width: 400px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 50px;
}
.photos>.photoTitle>h1{
    /* border: 1px solid lime; */
    font-size: 5rem;
    text-align: center;
}
.photo1{margin-bottom: 100px;}
.photo1>.photoslide{
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photo1>.photoslide>.leftpho>img{
    width: 410px;
    height: 514px; 
    opacity: 0.4;
}
.photo1>.photoslide>.leftpho:after{
    content: '';
    /* border: 1px solid red; */
    width: 25px;
    height: 30px;
    background: url(../img/SVG/dir_left.svg) no-repeat 50% 50%;
    position: absolute;
    left: 33%;
    bottom: 45%;
    transform: translate(-33%,-45%);
}
.photo1>.photoslide>.midpho>img{
    width: 494px;
    height: 744px;
}
.photo1>.photoslide>.rightpho>img{
    width: 410px;
    height: 515px;
    opacity: 0.4;
}
.photo1>.photoslide>.rightpho:after{
    content: '';
    /* border: 1px solid red; */
    width: 25px;
    height: 30px;
    background: url(../img/SVG/dir_right.svg) no-repeat 50% 50%;
    position: absolute;
    right: 33%;
    bottom: 45%;
    transform: translate(-33%,-45%);
}
.photo2{
    /* border: 1px solid red; */
    width: 100%;
    height: 1000px;
    
}
.photo2>.section1{
    display: flex; 
    justify-content: center;
    height: 50%;
    /* border: 1px solid lime; */
}
.photo2>.section1>.show1{width: 360px;height: auto;}
.photo2>.section1>.show2{width: 800px;height: auto;}
.photo2>.section1>.show3{width:440px ;height: auto;}

.photo2>.section2{
    display: flex; 
    justify-content: center;
    height: 50%;
    /* border: 1px solid lime; */
}
.photo2>.section2>.show4{width: 400px;}
.photo2>.section2>.show5{width: 460px;}
.photo2>.section2>.show6{width: 370px;}
.photo2>.section2>.show7{width: 370px;}

/* finphoto */
.finphoto{
    margin-bottom: 100px;
}
.textBox{
    /* border: 1px solid pink; */
    margin-bottom: 30px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    
}
.textBox>img{
    width: 476px;
    height: 46px;
    margin-bottom: 20px;
}

.finMain{
    /* border: 1px solid aqua; */
    position: relative;
}
.finMain>img{
    /* border: 1px solid red; */
    width: 792px;
    height: 444px;
    margin: 0 484px;
    
}
.finMain::after{
    content: '';
    width: 100%;
    height: 5px;
    background: #ffffffec;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


/* sub1_2 - product */
/* main */
.subpage1_2{
    position: relative;
}
.subpage1_2>.mainContainer{
    /* border: 1px solid orange; */
    width: 1760px;
    margin: 0 auto;
    position: relative;   
}
.subpage1_2>.mainContainer::after{
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../img/SVG/toup.svg) no-repeat 50% 50%;
    position: absolute;
    right: 0;
    bottom: -20px;
}
.topMain{
    /* border: 1px solid pink; */
    width: 1760px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 110px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 120px;
}
.topMain>.mainPoster{
    /* border: 1px solid red; */
    width: 550px;
    height: 713px;
}
.topMain>.mainPoster>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.topMain>.productPic{
    /* border: 1px solid lime; */
    display: flex;
    flex-direction: column;
    width: 590px;
    height: 780px;
}
.topMain>.productPic>img{
    /* border: 1px solid red; */
    width: 590px;
    height: 50%;
    object-fit: cover;
}

.topMain>.productInfo{
    width: calc(100% - 550px - 590px);
    height: 780px;
    background: #fff;
   
}
.productInfo>.explain{
    /* border: 1px solid red; */
    width: 520px;
    margin: 0 auto;
    margin-top: 200px;
}
/* font */
.productInfo>.explain>h1{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}
.productInfo>.explain>h2{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}
.productInfo>.explain>h3{
    font-size: 22px;
    margin-right: 50px;
    position: relative;
    margin-bottom: 10px;
}
.productInfo>.explain>h3:after{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    left: 90px;
    top: 3px;
}
.productInfo>.explain>ul{
    margin-bottom: 50px;
}
.productInfo>.explain>ul>li>h3{
    font-size: 22px;
    margin-right: 50px;
}
.productInfo>.explain>ul>li{
    display: flex;
    align-items: center;
}
.productInfo>.explain>ul>li>ul{
    /* border: 1px solid red; */
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.productInfo>.explain>ul>li>ul>li{
    font-size: 20px;
    color: #9a9a9a;
}

.explain>.proIcon{
    /* border: 1px solid red; */
    width: 240px;
    /* margin-bottom: 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.explain>.proIcon>img{
    width: 30px;
    height: 40px;
}

.explain>p{
    font-size: 12px;
    font-weight: 600;
    padding: 40px 0;
    position: relative;
}
.explain>p:after{
    border: 1px solid #9a9a9a;
    width: 510px;
    content: '';
    position: absolute;
    left: 0;
    top: 30px;
}
/* sub1_2 modelWear */
.modelWear{
    /* border: 1px solid lime; */
    width: 1760px;
    margin: 0 auto;
    position: relative;
}
.modelWear>h1{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 25px;
    color: #fff;
    font-size: 4rem;
}
.modelWear>section{
    width: 100%;
    height: 460px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.modelWear>section>img{
    width: 300px;
    height: 392px;
    object-fit: cover;
    filter: grayscale(1);
    opacity: 0.7;
}
.modelWear>section>img:nth-of-type(3){
    filter: grayscale(0) brightness(1);
    opacity: 1;
}
.modelWear>.button{
    /* border: 1px solid blue; */
    width: 100px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left:50%;
    top: 500px;
}
.modelWear>.button>img{
    width: 30px;
    height: 34px;
    object-fit: cover;
}
.otherItems{
    /* border: 1px solid salmon; */
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.otherItems>.OItitle{
    /* border: 1px solid red; */
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.otherItems>.OItitle>h1{
    color: #fff;
    font-size: 4rem;
}
.otherItems>.OItitle>.righticon>img{
    width: 20px;
    height: 24px;
    object-fit: cover;
}
.otherItems>figure{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.otherItems>figure>img{
    width: 220px;
    height: 356px;
}


/* subpage2 */
/* main */
.subpage2{
    position: relative;
}
.subpage2>.mainContainer{
    /* border: 1px solid orange; */
    width: 1760px;
    margin: 0 auto;
    position: relative;   
    color: #fff;
    text-align: center;
}
.subpage2>.mainContainer::after{
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../img/SVG/toup.svg) no-repeat 50% 50%;
    position: absolute;
    right: 0;
    bottom: -20px;
}
.subpage2>.mainContainer>.intro{
    /* border: 1px solid aqua; */
    width: 1760px;
    margin: 0 auto;
    margin-bottom: 110px;
    padding-top: 150px; 
}

.subpage2>.mainContainer h2{ 
    border: 1px solid skyblue;
    text-align: center;
    font-size: 4.5rem; 
    margin: 0 auto;
    margin-bottom: 40px;
}

.mainContainer .intro>img{
    margin: 40px 0;
    width: 1074px;
    height: 550px;
}
.mainContainer .intro>p{
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 10px 0;
    width: 1000px;
    font-family: 'S-CoreDream-3Light';
    font-size: 18px;
    word-spacing: 1px;
    line-height: 2;
}
.mainContainer .explainYSL{
    /* border: 1px solid gold; */
    margin-bottom: 100px;

}

.mainContainer .explainYSL>img{
    /* border: 1px solid pink; */
    margin-top: 40px;
    width: 1000px;
    height: 562px;
}
.mainContainer .explainYSL>p.videoInfo{
    margin: 0 auto;
    padding: 20px 0;
    font-size: 12px;

}
.mainContainer>.explainYSL>.explainP>p{
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 10px 0;
    width: 1200px;
    font-family: 'S-CoreDream-3Light';
    font-size: 16px;
    word-spacing: 2px;
}

.mainContainer .typoYSL{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainContainer .typoYSL>img{
    /* border: 1px solid red; */
    width: 1000px;
    height: 628px;
    margin-bottom: 100px;
}
.mainContainer .typoYSL>img.yslLogo{
    /* border: 1px solid violet; */
    width: 100px;
    height: 207px;
}


/* subpage4 */
.subpage3{
    position: relative;
}
.subpage3>.mainContainer{
    /* border: 1px solid orange; */
    width: 1760px;
    margin: 0 auto;
    position: relative;   
    color: #fff;
    text-align: center;
}
.subpage3>.mainContainer::after{
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../img/SVG/toup.svg) no-repeat 50% 50%;
    position: absolute;
    right: 0;
    bottom: -20px;
}

.subpage3>.mainContainer>.susTop{
    border: 1px solid skyblue;
    width: 1760px;
    margin: 0 auto;
    margin-bottom: 110px;
    padding-top: 150px; 
}
.subpage3>.mainContainer h2{
    text-align: center;
    font-size: 4.5rem; 
    margin: 0 auto;
    margin-bottom:40px;
}

.tabMenu{
    /* border: 1px solid pink; */
    width: 1600px;
    height: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    position: relative;
}
.tabMenu>dt{
    border: 1px solid blue;
    color: #939393;
    flex: 1;
    height: 40px;
    cursor: pointer;
    padding: 10px 0;
    margin: 0 auto;
    font-size: 24px;
    position: relative;
}
.tabMenu>dt::after{
    content: '';
    width: 60px;
    height: 1px;
    background: #939393;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}
.tabMenu> dt.on{
    color: #fff;
}

.tabMenu>dd{
    border: 1px solid pink;
    width: 100%;
    /* height: 800px; */
    position: absolute;
    left: 0;
    top: 20%;
    display: none;
}

.tabMenu> dt.on + dd{ 
    display: block;
}

.tabMenu .contBox{
    border: 1px solid violet;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.contBox>figure{
    width: 800px;
}
.contBox>figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txtBox{
    border: 1px solid lime;
    width: calc(100% - 800px);
    height: 100%;
    font-family: 'S-CoreDream-3Light';
    padding-left: 50px;
}
.txtBox>.contInfo{
    border: 1px solid pink;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}
.contBox .contInfo>h3{
    border: 1px solid pink;
    font-size: 60px;
    font-weight: bold;
    margin: 0 60px;
}
.contBox .contInfo>h4{
    border: 1px solid pink;
    font-size: 40px;
}
.contP{
    width: 100%;
    text-align: center; 
}
.contP>p{
    margin-bottom: 20px;
}
.contP>p.p_index {
    border: 1px solid red;
    font-weight: bold;
    text-align: left;
}





/* footer */
footer{
    /* border: 1px solid aqua; */
    box-sizing: border-box; 
    margin-top: 50px;
    width: 100%;
    height: 250px;
    color:#fff;
    font-family: 'S-CoreDream-3Light';
    font-weight: lighter;
}
.fContainer{
    /* border: 1px solid pink; */
    width: 1780px;
    height: 100%;
    margin: 0 auto;
}

.fLogo{
    width: 255px;
    height: 25px;
    margin: 0 auto;
    margin-bottom: 40px;
}


.fMenu{
     /* border:1px solid orange ; */
    height: 150px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


.mLeft{
    position: absolute;
    left: 100px;
    top: 0;
    width: 450px;
    height: 100%;
    /* border: 1px solid lime; */
}

.mLeft>.select{
    /* border: 1px solid lime; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 45px;
}

.mLeft label{
    /* border: 1px solid gold; */
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    padding-right: 10px;
}
.mLeft select{
    /* border: 1px solid gold; */
    color: #fff;
    background: #000;
    padding: 3px 10px 3px 10px;
    margin-right: 30px;
}
.mLeft>.select>section>#lang_country{margin-right: 0;}

.mLeft>.address>p{font-size:0.5rem;margin-bottom: 10px;}

.mMid{
    /* border: 1px solid red; */
    width: 625px;
    height:100%;
    color: #fff;
    position: absolute;
    left: 60%; top: 0;
    transform: translateX(-60%);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/* .mMid>section{border: 1px solid lime;} */
.mMid>section>ul>li h4{
    font-size: 1.2rem; 
    padding-bottom: 10px;
}
.mMid>section>ul>li h4::after{
    /* border: 1px solid red; */
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background: url(../img/SVG/arrow.svg) no-repeat 50% 50%;
}
.mMid>section>ul>li>ul>li{
    font-size: 0.9rem;
    color:#ccc;
    padding-bottom: 6px;
}


.mRight{
    /* border: 1px solid red; */
    position: absolute;
    right: 100px;
    bottom: 0;
}

.footicon img{
    /* border: 1px solid gold; */
    flex: 1;
    width: 25px;
    height: 25px;
    padding: 0 10px;
}
