
body{
    background: url(../img/self/self_main.jpg) no-repeat 50% 50% ;
}


/* subpage Title */
.toptitle{
    /* border: 1px solid red; */
    padding: 10px 350px 10px 170px;
    color: #fff;  
}
.toptitle>h1{
    font-size: 5rem;
    font-weight: bold; 
    text-align: center;
}

.toptitle::after{
    content: '';
    width: 1760px;
    height: 1px;
    background: #fff ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* subpage4 main */
.subpage4{
    border: 10px solid orange;
    margin: 0 auto;
    width: 1920px;
    height: auto;
    padding-top: 200px;
    padding-bottom: 100px;
    position: relative;
}

.backimg{
    border: 1px solid #fff;
    border-radius: 20px;
    margin: 0 auto;
    width: 1760px;
    height: 1040px;
    filter: drop-shadow(15px 15px 18px);
    position: relative;
}
.backimg::after{
    z-index: -10;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.2),transparent);
    position: absolute;
    left: 0;
    top: 0;
}
.backimg>img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    filter:blur(3px);
    object-fit: cover;
}


/* subpadge 4  content */
.subpage4 .sub4Station{
    
    border: 1px solid blue;
    width: 1460px;
    height: 940px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}
.sub4Station>section{
    /* flex: 1; */
    color: #fff;
    /* position: absolute;
    left: 0;
    top: 0; */
}

.sub4Station  h1{
    border: 1px solid orange;
    font-size: 100px; 
    font-weight: bold;
    padding: 20px;
}
.self7_info{
    display: none;
    border: 1px solid red;
    font-size: 48px;
    position: absolute;
    left: 0;
    top: 600px;
    /* transform: translateY(-50%); */
}
.self7_info li{padding-top: 20px;}
.self7_info li:first-of-type{padding-top: 0;}
.self7Detail{
    display: none;
    border: 1px solid pink;
    width: 946px;
    position: relative;
}
.self7Detail figure{
    /* border: 1px solid red; */
    width: 946px;
    height: 536px;
    position: absolute;
    right: 0;
    top: 0;
}
.self7Detail figure>video{
    /* display: block; */
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.self7Detail .down{
    position: absolute;
    right: 0;
    top: 540px;
    
}
.self7Detail .down>p{font-size: 25px; padding: 20px 0;}

.tabMenu2{
    /* border: 1px solid gold; */
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.tabMenu2>dt{
    /* border: 1px solid red; */
    color: #ffffffa1;
    font-size: 20px;
    width: 90px;
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
}
.tabMenu2>dt::before{
    /* border: 1px solid red; */
    content: '';
    width: 1.5px;
    height: 20px;
    background: #ffffffa1;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
} 

.tabMenu2 dt.on {color: #fff;}
.tabMenu2 dt.on:before{background: #fff;}

dd{
    border: 1px solid aqua;
    position: absolute;
    left: 0;
    top: 10%;
    display: none;
}

.tabMenu> dt.on + dd.on{ 
    display: block;
}

.tabMenu2 dd{
    border: 1px solid blue;
    position: relative;
}

dd.on .ddLeft p{
    border: 1px solid red;
    color: #fff;
    font-size: 48px;
    position: absolute;
    left: 0;
    top: 600px;
}
dd.on .ddRight{
    border: 1px solid red;
    position: relative;
}
.ddRight>.swiper{
    width: 960px;
    height: 314px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.ddRight .trian{
    width: 700%;
    height: 100%;
    display: flex;
}

.ddRight .trian>li{
    flex: 1;
    position: rel;
}

.ddRight .trian>li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}